.modal {
  position: relative;
  width: 100vw;
  height: 100vh;

    &__overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--modal__overlay-bg);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      z-index: 1;
    }
  
    &__content {
      --neutralLight: var(--neutral); 
      position: absolute;
      top: calc(100vh / 2 - var(--modal__height));
      left: calc(100vw / 2 - var(--modal__width) / 2);
      height: fit-content;
      width: var(--modal__width);
      background-color: var(--modal__bg-color);
      border-radius: var(--modal__border-radius);
      padding: var(--modal__padding);
      box-shadow: var(--shadow);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      z-index: 2;
  }
  
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      padding: var(--modal__padding);
      border-bottom: 1px solid var(--neutral);
    }
  
    &__title {
      margin: 0;
      font-size: 1.25rem;
      color: var(--primaryDark);
    }

    &__body {
      padding: var(--modal__padding);
      font-size: 16px;
      color: var(--neutralDark);
      line-height: 1.5;
    }
  
    &__image {
      max-width: 100%;
      height: auto;
      margin-top: 15px;
    }
  
    &__footer {
      display: flex;
      justify-content: flex-end;
      padding: var(--modal__padding);
      border-top: 1px solid #ccc;
    }
  
    &__action, &__cancel {
      padding: 10px 20px;
      margin-left: 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  
    &__action {
      background-color: var(--success);
      color: white;
    }
  
    &__cancel {
      background-color: var(--danger);
      color: white;
    }
  
    // Show modal
    &--active {
      .modal__overlay,
      .modal__content {
        opacity: 1;
        visibility: visible;
        box-sizing: border-box;
      }
    }
  }
  