.section__panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: fit-content;
  height: var(--panel__height);
  padding: var(--panel__padding);
  text-align: var(--panel__title--align);
  box-sizing: border-box;
  gap: var(--panel__gap);
  scroll-snap-type: y mandatory;
  scroll-snap-align: start;
}
.section__panel .inner__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: max-content;
  gap: var(--panel__gap);
  justify-content: center;
}
.section__panel .inner__wrapper .inner__wrapper--right, .section__panel .inner__wrapper .wrapper--row, .section__panel .inner__wrapper .wrapper--col, .section__panel .inner__wrapper .inner__wrapper--left {
  display: flex;
  flex-direction: var(--panel__wrapper--direction);
  justify-content: var(--panel__wrapper--justify);
  align-items: var(--panel__wrapper--align);
  flex: 1 1 320px;
  row-gap: var(--panel__gap);
}
.section__panel .inner__wrapper .inner__wrapper--left {
  --panel__gap: 48px;
  --panel__wrapper--justify: space-between;
  --panel__wrapper--direction: column;
}
.section__panel .inner__wrapper .inner__wrapper--left .home__flag--static {
  min-width: 240px;
  width: 100%;
}
.section__panel .inner__wrapper .wrapper--col {
  --panel__wrapper--direction: column;
  --panel__wrapper--justify: flex-start;
  --panel__wrapper--align: start;
  width: 100%;
}
.section__panel .inner__wrapper .wrapper--col > .wrapper--row {
  flex: 1;
}
.section__panel .inner__wrapper .wrapper--row {
  --panel__wrapper--direction: row;
  --panel__wrapper--justify: space-between;
  --panel__wrapper--align: center;
  width: 100%;
}
.section__panel .inner__wrapper hr.divider--col {
  width: 48px;
  height: 4px;
  background-color: var(--neutralLight);
  border-radius: 2px;
  border: transparent;
}
.section__panel .inner__wrapper hr.divider--row {
  height: 96px;
  width: 4px;
  background-color: var(--neutralLight);
  border-radius: 2px;
  border: transparent;
}
.section__panel .inner__wrapper .inner__wrapper--right {
  --panel__gap: 48px;
  --panel__wrapper--justify: space-between;
  --panel__wrapper--direction: column;
}
.section__panel .inner__wrapper--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  grid-template-rows: 60px auto auto;
  grid-auto-flow: row dense;
  row-gap: var(--panel__gap);
  column-gap: var(--panel__gap);
  width: 100%;
  height: fit-content;
}
.section__panel .inner__wrapper--grid .inner__wrapper--left {
  display: flex;
  flex-direction: column;
  height: min-content;
  order: 0;
  text-align: right;
}
.section__panel .inner__wrapper--grid .panel__prefooter {
  order: 2;
  align-self: flex-end;
  grid-row: span 2;
  justify-self: flex-end;
}
.section__panel .inner__wrapper--grid .panel__prefooter .footer__text--sm {
  font-size: var(--footer__text--sm);
}
.section__panel .inner__wrapper--grid .inner__wrapper--right {
  grid-row: span 3;
}
.section__panel .inner__wrapper--grid .panel__footer {
  grid-column: 1/-1;
  grid-row: 6;
}
.section__panel .title__wrapper--col {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.section__panel .text__wrapper--col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: var(--flag__height);
}
.section__panel .text__wrapper--row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.section__panel .text__wrapper--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: var(--text__wrapper--gap);
  width: 100%;
  height: fit-content;
  opacity: 1;
  transition: height 1s ease-in, opacity 0.5s ease-in;
}
.section__panel #toggleIndicadoresH, .section__panel #toggleIndicadoresG {
  display: none;
}
.section__panel .hidden {
  height: 0;
  opacity: 0;
}
.section__panel .fade-out {
  animation: forwards fadeOut 3.6s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.section__panel #porcentaje-indigencia {
  --kpi__color: var(--danger);
}
.section__panel #porcentaje-pobreza {
  --kpi__color: var(--severe);
}
.section__panel #porcentaje-pobrezaTotal {
  --kpi__color: var(--primaryDark);
}
.section__panel #porcentaje-noPobres {
  --kpi__color: var(--tertiary);
}
.section__panel .text__color--primary {
  color: var(--primary);
}
.section__panel .text__color--primaryDark {
  color: var(--primaryDark);
}
.section__panel .text__color--secondary {
  color: var(--secondary);
}
.section__panel .text__color--tertiary {
  color: var(--tertiary);
}
.section__panel .text__color--severe {
  color: var(--severe);
}
.section__panel .text__color--severeLight {
  color: var(--severe--light);
}
.section__panel .text__color--severeDark {
  color: var(--severe--dark);
}
.section__panel .text__color--danger {
  color: var(--danger);
}
.section__panel .text__color--dangerDark {
  color: var(--danger--dark);
}
.section__panel .text__color--white {
  color: white;
  display: inline-block;
  /* Needed for transitions to work on inline elements */
  transition: opacity 2s ease-in-out;
  /* Transition for the opacity */
  opacity: 1;
}
.section__panel .text__color--neutral {
  color: var(--neutral);
}
.section__panel .text__color--neutralLight {
  color: var(--neutralLight);
}

.panel__title {
  --panel__title--color: var(--primaryDark);
  font-size: var(--panel__title--size);
  color: var(--panel__title--color);
  font-weight: 400;
  line-height: 1.35;
}
.panel__title--center {
  --panel__title--align: center;
  width: 100%;
  display: block;
  font-size: var(--panel__title--size);
  color: var(--primaryDark);
  font-weight: 400;
  line-height: 1.35;
  text-align: var(--panel__title--align);
  order: 1;
}
.panel__title--xl {
  --panel__title--size: 48px;
  font-size: var(--panel__title--size);
  color: var(--neutralLight);
  font-weight: bolder;
}
.panel__title--xxl {
  --panel__title--size: 60px;
  font-size: var(--panel__title--size);
  color: var(--primaryDark);
  font-weight: bolder;
}

.panel__subtitle {
  font-size: var(--panel__subtitle--size);
  color: var(--neutral);
  font-weight: normal;
  line-height: 1.5;
}
.panel__subtitle--center {
  font-size: var(--panel__subtitle--size);
  color: var(--neutral);
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  order: 1;
  line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.kpi__wrapper--col {
  --panel__gap: 10px;
  display: flex;
  flex-direction: column;
  row-gap: var(--panel__gap);
}

.panel__prefix {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--neutral);
  text-wrap: nowrap;
  position: relative;
  width: fit-content;
}

.panel__prefix--lg {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--neutral);
  text-wrap: nowrap;
}

.panel__subfix {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.35;
  color: var(--neutralLight);
  white-space: pre-line;
}

.panel__subfix--lg {
  font-size: 16px;
  font-weight: normal;
  color: var(--neutralLight);
  text-wrap: nowrap;
}

.panel__number {
  font-size: 32px;
  color: var(--kpi__color);
  font-weight: bolder;
}

#intro.section__panel {
  height: calc(100vh - var(--header__height));
}

#historico.section__panel {
  --panel__bg: var(--secondaryLight);
  background-color: var(--panel__bg);
  flex-wrap: wrap-reverse;
}
#historico.section__panel .btn__wrapper--row {
  justify-content: flex-end;
}
#geografico {
  --panel__bg: var(--primaryDark);
  background-color: var(--panel__bg);
  color: white;
}
#geografico .inner__wrapper .inner__wrapper--left {
  --panel__wrapper--justify: flex-start;
}
#geografico .inner__wrapper .kpi__wrapper--col {
  align-items: flex-start;
  width: 100%;
}
#geografico .panel__title {
  --panel__title--color: var(--secondaryLight);
  font-size: var(--panel__title--size);
  color: var(--panel__title--color);
  font-weight: 400;
  line-height: 1.35;
}
#geografico .panel__subtitle {
  --panel__title--align: left;
  text-align: var(--panel__title--align);
}
#geografico .panel__title--xxl {
  color: var(--neutralLight);
}
#geografico .panel__prefix {
  display: flex;
  align-items: flex-start !important;
  color: var(--neutral);
}
#geografico .panel__subfix {
  color: var(--neutralLight);
}
#geografico .panel__number {
  color: var(--kpi__color);
}
#geografico #porcentaje-ind-region {
  --kpi__color: var(--danger);
}
#geografico #porcentaje-pob-region {
  --kpi__color: var(--severe);
}
#geografico #porcentaje-pobTotal-region {
  --kpi__color: var(--secondary);
}
#geografico #porcentaje-noPob-region {
  --kpi__color: var(--tertiary);
}

#outro {
  --panel__bg: var(--primary);
  height: calc(var(--panel__height) - var(--footer__height));
  background-color: var(--panel__bg);
}

#insights {
  --panel__bg: var(--tertiary);
  background-color: var(--panel__bg);
}

footer.page__footer {
  height: var(--footer__height);
  background-color: var(--primaryDark);
  padding: 12px var(--panel__padding);
  box-sizing: border-box;
}
footer.page__footer small {
  color: var(--secondaryLight);
}
footer.page__footer small a:visited {
  color: var(--primary) !important;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  font-family: "Inter", "Montserrat", sans-serif;
  margin: 0;
  gap: var(--panel__gap);
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.25em 0;
}

h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

figure {
  margin: 0;
}
figure figcaption {
  color: var(--neutral);
  font-style: italic;
  font-size: 14px;
  margin: 16px 0;
  line-height: 1.35;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: hidden;
  border: solid 1px var(--neutralLight);
  margin: 0;
  padding: 0;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
form {
  width: 100%;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.25;
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  text-transform: none;
  border: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted gray;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
detalle {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

a, ul, li {
  text-decoration: none;
  color: var(--button__bg--color);
  list-style: none;
  margin: 0;
  padding: 0;
}
a:hover, ul:hover, li:hover {
  color: var(--button__bg--color);
  filter: brightness(95%);
}
a:visited, ul:visited, li:visited {
  color: var(--button__bg--color);
  filter: brightness(90%);
}

/* Flag */
.flag {
  width: var(--flag__width);
  height: var(--flag__height);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.flag .flag__stripe--static--top, .flag .flag__stripe--static--bottom {
  background-color: var(--primary);
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  justify-content: center;
  align-items: center;
}
.flag .flag__stripe--static--top {
  border-top-left-radius: var(--flag__border--radius);
  border-top-right-radius: var(--flag__border--radius);
}
.flag .flag__stripe--static--bottom {
  border-bottom-left-radius: var(--flag__border--radius);
  border-bottom-right-radius: var(--flag__border--radius);
}
.flag .flag__inner-wrapper {
  position: relative;
  width: 100%;
  height: 40%;
}
.flag .flag__inner-wrapper hr.flag__divider--top, .flag .flag__inner-wrapper hr.flag__divider--ind, .flag .flag__inner-wrapper hr.flag__divider--middle, .flag .flag__inner-wrapper hr.flag__divider--pob, .flag .flag__inner-wrapper hr.flag__divider--bottom {
  position: absolute;
  top: var(--flag__position--top);
  left: -8px;
  width: calc(100% + 12px);
  border: var(--flag__divider);
  z-index: 1;
}
.flag .flag__inner-wrapper hr.flag__divider--bottom {
  --flag__divider: dashed 1.5px var(--secondaryDark);
  --flag__position--top: 0%;
}
.flag .flag__inner-wrapper hr.flag__divider--pob {
  --flag__divider: dashed 1.5px var(--severe);
  --flag__position--top: var(--flag__stripe--height);
}
.flag .flag__inner-wrapper hr.flag__divider--middle {
  --flag__divider: dashed 1px var(--tertiary);
  --flag__position--top: 50%;
  mix-blend-mode: darken;
}
.flag .flag__inner-wrapper hr.flag__divider--ind {
  --flag__divider: dashed 1.5px var(--danger);
  --flag__position--top: var(--flag__stripe--height);
}
.flag .flag__inner-wrapper hr.flag__divider--top {
  --flag__divider: dashed 1.5px var(--secondaryDark);
  --flag__position--top: 100%;
}
.flag .flag__stripe--bottom, .flag .flag__stripe--top {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--flag__stripe--height);
  background-color: var(--primary);
  transition: height var(--stripe__transition) ease-in-out;
}
.flag .flag__stripe--top {
  top: 0;
  position: relative;
}
.flag .flag__stripe--top:hover {
  background-color: var(--severe);
}
.flag .stripe__blink--top {
  animation: infinite blinkTop 2s;
}
@keyframes blinkTop {
  0% {
    background-color: var(--primary);
  }
  100% {
    background-color: var(--severe);
  }
  0% {
    background-color: var(--primary);
  }
}

.flag__stripe--bottom {
  bottom: 0;
  position: relative;
}
.flag__stripe--bottom:hover {
  background-color: var(--danger);
}

.stripe__blink--bottom {
  animation: infinite blinkBottom 2s;
}

@keyframes blinkBottom {
  0% {
    background-color: var(--primary);
  }
  100% {
    background-color: var(--danger);
  }
  0% {
    background-color: var(--primary);
  }
}
.stripe__inner-wrapper--bottom, .stripe__inner-wrapper--top {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: center;
  position: absolute;
  z-index: 2;
}

.stripe__inner-wrapper--top {
  bottom: 20%;
}
.stripe__inner-wrapper--bottom {
  top: 50%;
}

.flag__inner-text--bottom, .flag__inner-text--top, .flag__output--bottom, .flag__output--ind, .flag__output--top, .flag__output--pob {
  font-size: var(--output__font--size);
  font-weight: 600;
  text-transform: uppercase;
}

.flag__output--top, .flag__output--pob {
  --output__font--size: 18px;
  font-size: var(--output__font--size);
  color: var(--severe--dark);
}

.flag__output--bottom, .flag__output--ind {
  --output__font--size: 18px;
  font-size: var(--output__font--size);
  color: var(--danger--dark);
}

.flag__inner-text--top {
  --output__font--size: 14px;
  font-size: var(--output__font--size);
  color: var(--secondary);
}

.flag__inner-text--bottom {
  --output__font--size: 14px;
  font-size: var(--output__font--size);
  color: var(--secondary);
}

.flag__stripe--middle {
  --flag__padding: 14px;
  --flag__translate: 72px;
  height: var(--flag__stripe--height);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 56px;
  align-items: center;
  padding: var(--flag__padding) 0;
  box-sizing: border-box;
  background-color: white;
}
.flag__stripe--middle .sun {
  --sun__width: calc(var(--flag__stripe--height) / 5 - var(--flag__padding));
  width: var(--sun__width);
  height: 100%;
  border-radius: 50%;
  background-color: var(--sun__color);
  transition: height width var(--stripe__transition) ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.flag__stripe--middle .sun output {
  font-weight: bolder;
  color: var(--tertiaryDark);
  mix-blend-mode: multiply;
  font-size: calc(var(--flag__stripe--height));
  position: absolute;
  text-wrap: wrap;
  text-align: center;
}

@media screen and (max-width: 980px) {
  .section__panel {
    --panel__padding: 10vh 7.5vw;
    --panel__gap: 48px;
    box-sizing: border-box;
  }
  .section__panel .inner__wrapper, .section__panel .inner__wrapper--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: var(--panel__gap);
  }
  .section__panel .inner__wrapper .panel__prefooter, .section__panel .inner__wrapper--grid .panel__prefooter {
    justify-self: center;
  }
  .section__panel .inner__wrapper--right {
    align-items: center;
  }
  .section__panel .text__wrapper--grid {
    --text__wrapper--gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    row-gap: 36px;
  }
  .section__panel .btn__wrapper--row {
    width: 100%;
    justify-content: center !important;
    flex-wrap: wrap-reverse;
  }
  .section__panel .panel__title, .section__panel .panel__title--center, .section__panel .panel__title--xxl, .section__panel .panel__title--xl {
    --panel__title--size: 28px;
  }
  .section__panel .panel__subtitle, .section__panel .panel__subtitle--center {
    --panel__subtitle--size: 16px;
  }
  .section__panel .panel__prefix {
    font-size: 10px;
    align-self: center;
  }
  .section__panel .panel__subfix {
    font-size: 10px;
  }
  .section__panel .panel__prefix--lg {
    font-size: 12px;
  }
  .section__panel .panel__subfix--lg {
    font-size: 12px;
  }
  .section__panel .panel__number {
    font-size: 24px;
  }
  .section__panel .input__subfix {
    font-size: 12px;
  }

  .flag {
    --flag__width: 340px;
    --flag__height: 220px;
  }
  .flag [class^=stripe__inner-wrapper] {
    transform: scale(0.75);
  }
  .flag .stripe__inner-wrapper--top {
    row-gap: 4px;
    bottom: 0%;
  }
  .flag .stripe__inner-wrapper--bottom {
    row-gap: 4px;
    top: 0%;
  }

  #toggleIndicadoresH, #toggleIndicadoresG {
    display: flex !important;
    column-gap: 8px;
    align-items: center;
  }

  #intro {
    text-align: center;
  }
  #intro .inner__wrapper--right, #intro .inner__wrapper--left {
    align-items: center !important;
  }
  #intro figcaption {
    display: none;
  }

  #historico .panel__title--center, #historico .panel__subtitle--center {
    display: none !important;
  }
  #historico .text__wrapper--col {
    justify-content: flex-start;
    row-gap: 24px;
    height: fit-content;
  }
  #historico .inner__wrapper {
    --panel__gap: 24px;
    display: flex;
  }
  #historico .inner__wrapper .inner__wrapper--right, #historico .inner__wrapper .inner__wrapper--left {
    align-items: center !important;
    text-align: center;
  }
  #historico .inner__wrapper .inner__wrapper--right label, #historico .inner__wrapper .inner__wrapper--left label {
    font-size: 14px;
    text-align: center;
  }
  #historico .inner__wrapper .inner__wrapper--right .wrapper--row, #historico .inner__wrapper .inner__wrapper--left .wrapper--row {
    --panel__wrapper--justify: space-around;
  }
  #historico .inner__wrapper .inner__wrapper--right > .wrapper--col, #historico .inner__wrapper .inner__wrapper--left > .wrapper--col {
    flex: 1;
  }
  #historico .inner__wrapper .inner__wrapper--right > .wrapper--col > .wrapper--col, #historico .inner__wrapper .inner__wrapper--left > .wrapper--col > .wrapper--col {
    --panel__wrapper--direction: row;
    width: 100%;
    flex: 1;
    column-gap: var(--panel__gap);
    justify-content: center;
    align-items: center;
  }
  #historico .inner__wrapper .inner__wrapper--right > .wrapper--col > .wrapper--col .panel__subfix, #historico .inner__wrapper .inner__wrapper--left > .wrapper--col > .wrapper--col .panel__subfix {
    font-size: 12px;
  }
  #historico .inner__wrapper .inner__wrapper--right > .wrapper--col > .wrapper--col hr.divider--col, #historico .inner__wrapper .inner__wrapper--left > .wrapper--col > .wrapper--col hr.divider--col {
    width: 4px;
    height: 48px;
    background-color: var(--neutralLight);
    border-radius: 2px;
    border: transparent;
  }
  #historico .inner__wrapper .inner__wrapper--right > .wrapper--col .kpi__wrapper--col .panel__subfix, #historico .inner__wrapper .inner__wrapper--left > .wrapper--col .kpi__wrapper--col .panel__subfix {
    font-size: 10px;
  }
  #historico .inner__wrapper .inner__wrapper--right .text__wrapper--grid, #historico .inner__wrapper .inner__wrapper--left .text__wrapper--grid {
    --text__wrapper--gap: 12px;
  }

  #geografico .flag {
    align-self: center;
  }
  #geografico .inner__wrapper--right {
    text-align: left;
  }
  #geografico .inner__wrapper .wrapper--col {
    flex: 1;
  }
  #geografico .inner__wrapper #regionSelectWrapper {
    display: none !important;
  }
  #geografico .panel__prefix {
    align-self: flex-start;
  }

  #outro .inner__wrapper--grid {
    grid-template-rows: unset;
  }
  #outro .inner__wrapper--left {
    justify-content: flex-start;
    height: min-content;
  }
  #outro .panel__title, #outro .panel__subtitle {
    text-align: center;
  }
}
header.page__header {
  --page__body--padding: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem var(--panel__padding);
  height: var(--header__height);
  width: 100vw;
  background: var(--header__bg--color);
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  position: sticky;
}
header.page__header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--header__gap--horizontal);
}
header.page__header div i {
  font-size: var(--icon--size);
}

button {
  padding: 0 0 0 12px;
  background: var(--button__bg--color);
  font-size: var(--button__font--size);
  font-weight: 500;
  color: var(--button__text--color);
  text-align: var(--button__text--align);
  border-radius: var(--button__border--radius);
  width: var(--button__width);
  height: min-content;
  text-transform: unset;
  text-wrap: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn__wrapper--row {
  display: flex;
  flex-wrap: wrap;
  flex-flow: nowrap;
  gap: var(--button__wrapper--gap);
  align-items: center;
}

small a {
  color: var(--neutral);
}
small a:hover {
  color: var(--neutralLight);
}

button {
  position: relative;
}
button > a {
  display: block;
  padding: var(--button__padding);
}
button > img.rotate {
  transform: rotate(-180deg);
}
button[size=block] {
  display: block;
  width: 100%;
}
button[size=sm] {
  --button__font--size: 12px;
}
button[size=md] {
  --button__font--size: 18px;
}
button[size=lg] {
  --button__font--size: 24px;
}
button:not([class*=__outline]):hover, button:not([class*=__outline]):active, button:not([class*=__outline]):visited {
  filter: brightness(95%);
  cursor: pointer;
}
button[disabled] {
  pointer-events: none;
  opacity: 0.5;
  user-select: none;
  cursor: not-allowed;
}
button#openModal {
  position: absolute;
  top: 12px;
  right: 7.5vw;
  padding: 6px 12px;
}
button[class*=__fill] {
  --button__text--color: white;
  border: solid 2px var(--button__color);
}
button[class*=__fill] > a {
  color: var(--button__text--color);
}
button[class*=__outline] {
  --button__border--color: var(--button__color);
  --button__text--color: var(--button__color);
  background: transparent;
  border: solid 2px var(--button__color);
}
button[class*=__outline] > a {
  color: var(--button__text--color);
}
button[class*=__outline]:hover, button[class*=__outline]:active, button[class*=__outline]:visited {
  background-color: var(--secondary);
}
button[class*=__link] {
  --button__border--color: var(--button__color);
  --button__text--color: var(--button__color);
  background: transparent !important;
  border: none !important;
}
button[class*=__link] > a {
  color: var(--button__text--color);
}
button[class*=__icon] {
  --button__border--color: var(--button__color);
  --button__text--color: var(--button__color);
  background: transparent !important;
  border: solid 2px var(--button__color);
  padding: 8px;
}
button[class$="--primary"] {
  --button__color: var(--primary);
  --button__bg--color: var(--primary);
}
button[class$="--secondary"] {
  --button__color: var(--secondary);
  --button__bg--color: var(--secondary);
}
button[class$="--tertiary"] {
  --button__color: var(--tertiary);
  --button__bg--color: var(--tertiary);
}
button[class$="--primaryDark"] {
  --button__color: var(--primaryDark);
  --button__bg--color: var(--primaryDark);
}
button[class$="--neutral"] {
  --button__color: var(--neutral);
  --button__bg--color: var(--neutral);
}

.tabs {
  display: flex;
  border-bottom: 2px solid var(--tabs-border-color);
}

.tab__link {
  background-color: var(--tab-bg-color);
  border: none;
  padding: 14px 20px;
  cursor: pointer;
}
.tab__link.active {
  background-color: var(--tab-active-bg-color);
}

.tab__content--none {
  display: none;
}
.tab__content--none.active {
  display: flex;
}

[disabled] {
  filter: grayscale(1);
  pointer-events: none;
  user-select: none;
  cursor: not-allowed;
}

label {
  --form__label--color: var(--neutral);
  color: var(--form__label--color);
  font-size: 16px;
  font-weight: 500;
}

.input__select--ghost {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden !important;
  opacity: 0;
  cursor: pointer;
}

.input__select--custom select:active, .input__select--custom select.focus, .input__select--custom select:focus-visible, .input__select--custom select {
  cursor: pointer;
  width: var(--flag__width);
  background-color: transparent;
  color: var(--secondary);
  font-size: 18px;
  padding: 16px 48px 16px 16px;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("./assets/img/chevron__down--neutralLight.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: calc(100% - 16px) center;
}

.input__select--custom {
  position: relative;
  display: inline-block;
  width: 100%;
}
.input__select--custom select {
  border: solid 2px var(--secondary);
  border-radius: var(--flag__border--radius);
  text-overflow: ellipsis;
}
.input__select--custom select:active, .input__select--custom select.focus, .input__select--custom select:focus-visible {
  outline: none;
  border: solid 2px var(--tertiaryLight);
  border-radius: var(--flag__border--radius);
  color: var(--tertiaryLight);
  background-image: url("./assets/img/select__chevron--up.svg");
}

.input__date--range {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--flag__width);
  height: 8px;
  background: var(--secondary);
  border-radius: 5px;
}

.input__date--range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--primary);
  border-radius: 50%;
  cursor: pointer;
}

.input__date--range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--primary);
  border-radius: 50%;
  cursor: pointer;
}

.input__date--range::-ms-thumb {
  width: 20px;
  height: 20px;
  background: var(--primary);
  border-radius: 50%;
  cursor: pointer;
}

.input__wrapper--col {
  --panel__gap: 16px;
  display: flex;
  flex-direction: column;
  row-gap: var(--panel__gap);
  width: var(--flag__width);
}

.input__wrapper--row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: var(--flag__width);
}

.input__subfix {
  font-size: 16px;
  color: var(--neutral);
}

.tooltip__wrapper {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  top: -24px;
  right: -14px;
}

.tooltip__icon {
  width: 20px;
  height: 20px;
  font-weight: bolder;
}

#geografico .tooltip__content {
  --tooltip__bg--color: var(--neutral);
  --tooltip__text--color: var(--primaryDark);
  background-color: var(--tooltip__bg--color);
  color: var(--tooltip__text--color);
}

.tooltip__content {
  --tooltip__bg--color: var(--primaryDark);
  --tooltip__text--color: var(--secondaryLight);
  position: absolute;
  top: -70px;
  right: -24px;
  background-color: var(--tooltip__bg--color);
  color: var(--tooltip__text--color);
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  width: 120px;
  height: fit-content;
  text-align: left;
  text-transform: capitalize;
  line-height: 1.25;
  text-wrap: wrap;
  z-index: 10;
}
.tooltip__content::after {
  content: "";
  position: absolute;
  bottom: -12px;
  right: 28px;
  border-width: 6px;
  border-style: solid;
  border-color: var(--primaryDark) transparent transparent transparent;
}

.tooltip__wrapper:hover .tooltip__content,
.tooltip__wrapper:focus .tooltip__content {
  --neutralLight: var(--primary);
  visibility: visible;
  opacity: 1;
}

@media (hover: none) and (pointer: coarse) {
  .tooltip__wrapper:active .tooltip__content {
    visibility: visible;
    opacity: 1;
  }
}
.modal {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--modal__overlay-bg);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1;
}
.modal__content {
  --neutralLight: var(--neutral);
  position: absolute;
  top: calc(50vh - var(--modal__height));
  left: calc(50vw - var(--modal__width) / 2);
  height: fit-content;
  width: var(--modal__width);
  background-color: var(--modal__bg-color);
  border-radius: var(--modal__border-radius);
  padding: var(--modal__padding);
  box-shadow: var(--shadow);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 2;
}
.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: var(--modal__padding);
  border-bottom: 1px solid var(--neutral);
}
.modal__title {
  margin: 0;
  font-size: 1.25rem;
  color: var(--primaryDark);
}
.modal__body {
  padding: var(--modal__padding);
  font-size: 16px;
  color: var(--neutralDark);
  line-height: 1.5;
}
.modal__image {
  max-width: 100%;
  height: auto;
  margin-top: 15px;
}
.modal__footer {
  display: flex;
  justify-content: flex-end;
  padding: var(--modal__padding);
  border-top: 1px solid #ccc;
}
.modal__action, .modal__cancel {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.modal__action {
  background-color: var(--success);
  color: white;
}
.modal__cancel {
  background-color: var(--danger);
  color: white;
}
.modal--active .modal__overlay,
.modal--active .modal__content {
  opacity: 1;
  visibility: visible;
  box-sizing: border-box;
}

:root {
  --panel__title--align: left;
  --panel__title--size: 36px;
  --panel__subtitle--size: 20px;
  --panel__padding: 10vw;
  --panel__height: 100vh;
  --panel__width: 100vw;
  --panel__gap: 96px;
  --panel__bg: white;
  --panel__title--color: var(var(--primary));
  --text__wrapper--gap: 48px;
  --modal__bg-color: white;
  --modal__overlay-bg: rgba(0, 0, 0, 0.6);
  --modal__header-bg: #f5f5f5;
  --modal__padding: 20px;
  --modal__width: 72vw;
  --modal__height: 48vh;
  --modal__border-radius: 8px;
  --header__height: 60px;
  --header__bg--color: white;
  --footer__height: fit-content;
  --tabs__border--color: #ddd;
  --tab__bg--color: #f1f1f1;
  --tab__bg--active: #ccc;
  --flag__width: 100%;
  --flag__height: 320px;
  --flag__border--radius: 8px;
  --stripe__height: 45%;
  --stripe__position--top: 30%;
  --stripe__position--bottom: 30%;
  --stripe__bg--color: var(--primary);
  --stripe__sub--fontSize: 16px;
  --stripe__sub--fontWeight: bold;
  --stripe__sub--color: var(--secondary);
  --stripe__transition: .75s;
  --sun__color: var(--tertiary);
  --sun__size: 60px;
  --sun__position--top: calc(--flag__height) / 2 - var(--sun-size) / 2;
  --sun__position--bottom: calc(--flag__width) / 2 - var(--sun-size) / 2;
  --primary: #6CACE4;
  --secondary: #d0e2f8;
  --tertiary: #ffc107;
  --neutral: #8189B0;
  --primaryLight: #ECF5FF;
  --primaryLighter: #D7F6FF;
  --primaryDark: #2b3b76;
  --secondaryLight: #e8f0fa;
  --secondaryDark: #b5d0f2;
  --tertiaryLight: #ffd678;
  --tertiaryDark: #d9a67e;
  --neutralLight: #a6b4d4;
  --neutralDark: rgb(66, 76, 121);
  --shadow: rgba(140, 140, 140, 0.5);
  --gradient: linear-gradient(to top right, #317aa0, #0abebb, #87d1b6);
  --box-shadow: 2px 0 4px var(--shadow);
  --info: #6CBCFC;
  --info--light: #1b242d;
  --warning: #ff9a00;
  --warning--light: #FCEBD0;
  --success: #23D3BD;
  --success--light: #c9f5ef;
  --success--dark: #18b09f;
  --danger--dark: #a52839;
  --danger: #FD5B71;
  --danger--light: #fcc9d0;
  --severe--dark: #493495;
  --severe: #8473c1;
  --severe--light: #c8b8fa;
  --button__padding--vertical: .5rem;
  --button__padding--row: .9rem;
  --button__padding: var(--button__padding--vertical) var(--button__padding--row);
  --button__height: fit-content;
  --button__width: max-content;
  --button__font--size: 14px;
  --button__border--color: var(--button__text--color);
  --button__border: solid 2px var(--button__border--color);
  --button__border--radius: 6px;
  --button__text--color: var(--primary);
  --button__bg--color: transparent;
  --button__opacity: 50%;
  --button__icon--color: inherit;
  --button__group--width: 96px;
  --button__text--align: center;
  --button__wrapper--gap: 16px;
  --form__label--color: var(var(--neutral))
  --input__padding: 16px;
}

/*# sourceMappingURL=styles.css.map */
