<div class="inner__wrapper--grid"></div>
    <span class="inner__wrapper--left">
        <h5 class="panel__subtitle text__color--white">
        Si estás dentro del 47.1% de las personas que aún cuentan con oportunidades en Argentina, formas parte de un grupo que ha logrado mantener acceso a bienes esenciales, educación y empleo en un contexto cada vez más difícil. Con una brecha social creciente, es fundamental reflexionar sobre la desigualdad y reconocer la realidad de quienes hoy se ven excluidos de estas oportunidades. Más que nunca, es necesario impulsar soluciones que generen inclusión y contribuyan a disminuir la pobreza y la indigencia en el país.
        </h5>
    </span>
    </span>
    <span class="panel__prefooter btn__wrapper--row">
    <button type="button" class="btn__outline--primaryDark">
        <img src="./assets/img/chevron__down--primaryDark.svg" class="rotate" alt="" width="20" height="20">
    <a href="#header">Volver al principio</a>
    </button>
    <button type="button" class="btn__fill--primaryDark">
        <a href="https://wa.me/?text=Check%20this%20amazing%20site:%20https%3A%2F%2Fexample.com" target="_blank">Compartir por WhatsApp</a>
    </button>
    <span class="inner__wrapper--right">
        <h3 class="panel__title">
        Un país con <b>pobreza</b> e <b>indigencia</b>, es un país sin <b class="text__color--white">oportunidades.</b>
        </h3>
    </span>
</div>