<div class="inner__wrapper">
    <figure class="inner__wrapper--left">
      <img src="./assets/img/flag.gif" class="home__flag--static" alt="">
      <figcaption>
        El sol representa las oportunidades, la franja superior la pobreza y la inferior la indigencia.
      </figcaption>
    </figure>
    <span class="inner__wrapper--right">
      <h3 class="panel__title">
        ¿Cómo sería nuestra bandera si reflejara la <b class="text__color--severe">pobreza</b>, <b class="text__color--danger">indigencia</b> y <b class="text__color--tertiary">oportunidades</b> del país?
      </h3>
      <h5 class="panel__subtitle">
        Los últimos datos del INDEC muestran que el primer semestre del 2024, la pobreza total ascendió al 52,9% y la indigencia al 18,1%, el registro semestral más alto en más de 20 años.
      </h5>
      <div class="btn__wrapper--row">
        <button type="button" class="btn__outline--primary">
          <img src="./assets/img/chevron__down--primary.svg" height="16" width="16">
          <a href="#geografico">Cómo cambia por zonas</a>
        </button>
        <button type="button" class="btn__outline--primary">
          <img src="./assets/img/chevron__down--primary.svg" height="16" width="16">
          <a href="#historico">Cómo cambió desde 2003</a>
        </button>
      </div>
    </span>
  </div>