
<span class="modal" id="myModal">
    <div class="modal__overlay"></div>
    <div class="modal__content">
      <header class="modal__header">
        <h2 class="modal__title text__color--primary">La bandera que no vemos</h2>
        <button size="md" class="btn__link--primary" id="closeModal">
            <a href="">&times;</a>
        </button>
      </header>
      <div class="modal__body">
        <p>Este proyecto propone visibilizar la problemática de la pobreza a través de la alteración visual de un símbolo nacional tan poderoso y reconocible como nuestra bandera. Pretende a su vez, ser un llamado a la reflexión sobre las desigualdades que afectan a millones de argentinos.</p>
      </div>
    </div>
</span>