<div class="inner__wrapper--grid">
  <span class="inner__wrapper--left">
    <h3 class="panel__title">
      Un país con <b>pobreza</b> e <b>indigencia</b>, es un país sin <b id="dynamicTitle" class="text__color--white"></b>
    </h3>
  </span>
  <span class="panel__prefooter btn__wrapper--row">
    <button type="button" class="btn__outline--primaryDark">
      <img src="./assets/img/chevron__down--primaryDark.svg" class="rotate" alt="" width="16" height="16">
    <a href="#header">Volver al principio</a>
    </button>
    <button type="button" class="btn__fill--primaryDark">
      <img src="./assets/img/icon__whatsapp.svg" alt="" width="20" height="20">
      <a href="https://wa.me/?text=Cómo%20cambia%20nuestra%20bandera%20según%20la%20pobreza:%20https%3A%2F%2Fexperienciapaciente.github.io/demo/" target="_blank">Compartir</a>
    </button>
  </span>
  <span class="inner__wrapper--right">
    <h5 class="panel__subtitle text__color--white">
      La pobreza e indigencia en Argentina han fluctuado debido al movimiento pendular de los distintos modelos político-económicos que progresivamente han deteriorado el tejido social del país, principalmente en zonas periféricas y menos desarrolladas, reduciendo la capacidad de acceso de millones de personas a bienes básicos y servicios esenciales como la educación, la salud y el empleo.
    </h5>
  </span>
</div>