<table>
    <tbody>
        <tr>
            <td class="icon-container icon-container--horizontal" left>
                <i class="icon icon--24 medical-icon-hospital"></i>
                <b>Endoscopía</b>
            </td>
            <td>
                <span class="badge badge--outline badge--outline--verde">alta</span>
                <i class="icon icon--colorTerciario medical-icon-i-restrooms"></i>
                <button class="btn btn--rounded btn--colorSecundario">ir</button>
            </td>
        </tr>
        <tr>
            <td class="icon-container icon-container--horizontal" left>
                <i class="icon icon--24 medical-icon-diabetes-education"></i>
                <b>Banco de sangre</b>
            </td>
            <td>
                <span class="badge badge--outline badge--outline--verde">alta</span>
                <i class="icon icon--colorTerciario medical-icon-i-restrooms"></i>
                <button class="btn btn--rounded btn--colorSecundario">ir</button>
            </td>
        </tr>
        <tr>
            <td class="icon-container icon-container--horizontal" left>
                <i class="icon icon--24 medical-icon-diabetes-education"></i>
                <b>Hematología</b>
            </td>
            <td>
                <span class="badge badge--outline badge--outline--verde">alta</span>
                <i class="icon icon--colorTerciario medical-icon-i-restrooms"></i>
                <button class="btn btn--rounded btn--colorSecundario">ir</button>
            </td>
        </tr>
        <tr>
            <td class="icon-container icon-container--horizontal" left>
                <i class="icon icon--24 medical-icon-diabetes-education"></i>
                <b>Salud mental</b>
            </td>
            <td>
                <span class="badge badge--outline badge--outline--verde">alta</span>
                <i class="icon icon--colorTerciario medical-icon-i-restrooms"></i>
                <button class="btn btn--rounded btn--colorSecundario">ir</button>
            </td>
        </tr>
        <tr>
            <td class="icon-container icon-container--horizontal" left>
                <i class="icon icon--24 medical-icon-diabetes-education"></i>
                <b>Hospital de día</b>
            </td>
            <td>
                <span class="badge badge--outline badge--outline--verde">alta</span>
                <i class="icon icon--colorTerciario medical-icon-i-restrooms"></i>
                <button class="btn btn--rounded btn--colorSecundario">ir</button>
            </td>
        </tr>
        <tr>
            <td class="icon-container icon-container--horizontal" left>
                <i class="icon icon--24 medical-icon-diabetes-education"></i>
                <b>Traumatología</b>
            </td>
            <td>
                <span class="badge badge--outline badge--outline--verde">alta</span>
                <i class="icon icon--colorTerciario medical-icon-i-restrooms"></i>
                <button class="btn btn--rounded btn--colorSecundario">ir</button>
            </td>
        </tr>
        <tr>
            <td class="icon-container icon-container--horizontal" left>
                <i class="icon icon--24 medical-icon-diabetes-education"></i>
                <b>Ecografía</b>
            </td>
            <td>
                <span class="badge badge--outline badge--outline--verde">alta</span>
                <i class="icon icon--colorTerciario medical-icon-i-restrooms"></i>
                <button class="btn btn--rounded btn--colorSecundario">ir</button>
            </td>
        </tr>
        <tr>
            <td class="icon-container icon-container--horizontal" left>
                <i class="icon icon--24 medical-icon-diabetes-education"></i>
                <b>Lactario</b>
            </td>
            <td>
                <span class="badge badge--outline badge--outline--verde">alta</span>
                <i class="icon icon--colorTerciario medical-icon-i-restrooms"></i>
                <button class="btn btn--rounded btn--colorSecundario">ir</button>
            </td>
        </tr>
        <tr>
            <td class="icon-container icon-container--horizontal" left>
                <i class="icon icon--24 medical-icon-diabetes-education"></i>
                <b>Neonatología</b>
            </td>
            <td>
                <span class="badge badge--outline badge--outline--verde">alta</span>
                <i class="icon icon--colorTerciario medical-icon-i-restrooms"></i>
                <button class="btn btn--rounded btn--colorSecundario">ir</button>
            </td>
        </tr>
        <tr>
            <td class="icon-container icon-container--horizontal" left>
                <i class="icon icon--24 medical-icon-diabetes-education"></i>
                <b>Anatomia patológica</b>
            </td>
            <td>
                <span class="badge badge--outline badge--outline--verde">alta</span>
                <i class="icon icon--colorTerciario medical-icon-i-restrooms"></i>
                <button class="btn btn--rounded btn--colorSecundario">ir</button>
            </td>
        </tr>
        <tr>
            <td class="icon-container icon-container--horizontal" left>
                <i class="icon icon--24 medical-icon-diabetes-education"></i>
                <b>Morgue</b>
            </td>
            <td>
                <span class="badge badge--outline badge--outline--verde">alta</span>
                <i class="icon icon--colorTerciario medical-icon-i-restrooms"></i>
                <button class="btn btn--rounded btn--colorSecundario">ir</button>
            </td>
        </tr>
        <tr>
            <td class="icon-container icon-container--horizontal" left>
                <i class="icon icon--24 medical-icon-diabetes-education"></i>
                <b>Quirófanos</b>
            </td>
            <td>
                <span class="badge badge--outline badge--outline--verde">alta</span>
                <i class="icon icon--colorTerciario medical-icon-i-restrooms"></i>
                <button class="btn btn--rounded btn--colorSecundario">ir</button>
            </td>
        </tr>
        <tr>
            <td class="icon-container icon-container--horizontal" left>
                <i class="icon icon--24 medical-icon-diabetes-education"></i>
                <div class="icon-container icon-container--vertical">
                    <b>U.T.I.P</b>
                    <small>Unidad de Terapia Intensiva Pedriátrica</small>
                </div>
            </td>
            <td>
                <span class="badge badge--outline badge--outline--verde">alta</span>
                <i class="icon icon--colorTerciario medical-icon-i-restrooms"></i>
                <button class="btn btn--rounded btn--colorSecundario">ir</button>
            </td>
        </tr>
        <tr>
            <td class="icon-container icon-container--horizontal" left>
                <i class="icon icon--24 medical-icon-diabetes-education"></i>
                <div class="icon-container icon-container--vertical">
                    <b>U.T.I.A</b>
                    <small>Unidad de Terapia Intensiva de Adultos</small>
                </div>
            </td>
            <td>
                <span class="badge badge--outline badge--outline--verde">alta</span>
                <i class="icon icon--colorTerciario medical-icon-i-restrooms"></i>
                <button class="btn btn--rounded btn--colorSecundario">ir</button>
            </td>
        </tr>
        <tr>
            <td class="icon-container icon-container--horizontal" left>
                <i class="icon icon--24 medical-icon-diabetes-education"></i>
                <b>Consultorios pediátricos</b>
            </td>
            <td>
                <span class="badge badge--outline badge--outline--verde">alta</span>
                <i class="icon icon--colorTerciario medical-icon-i-restrooms"></i>
                <button class="btn btn--rounded btn--colorSecundario">ir</button>
            </td>
        </tr>
        <tr>
            <td class="icon-container icon-container--horizontal" left>
                <i class="icon icon--24 medical-icon-diabetes-education"></i>
                <b>Consultorios ginecología</b>
            </td>
            <td>
                <span class="badge badge--outline badge--outline--verde">alta</span>
                <i class="icon icon--colorTerciario medical-icon-i-restrooms"></i>
                <button class="btn btn--rounded btn--colorSecundario">ir</button>
            </td>
        </tr>
        <tr>
            <td class="icon-container icon-container--horizontal" left>
                <i class="icon icon--24 medical-icon-diabetes-education"></i>
                <b>Rayos</b>
            </td>
            <td>
                <span class="badge badge--outline badge--outline--verde">alta</span>
                <i class="icon icon--colorTerciario medical-icon-i-restrooms"></i>
                <button class="btn btn--rounded btn--colorSecundario">ir</button>
            </td>
        </tr>
        <tr>
            <td class="icon-container icon-container--horizontal" left>
                <i class="icon icon--24 medical-icon-diabetes-education"></i>
                <b>Servicios generales</b>
            </td>
            <td>
                <span class="badge badge--outline badge--outline--verde">alta</span>
                <i class="icon icon--colorTerciario medical-icon-i-restrooms"></i>
                <button class="btn btn--rounded btn--colorSecundario">ir</button>
            </td>
        </tr>
        <tr>
            <td class="icon-container icon-container--horizontal" left>
                <i class="icon icon--24 medical-icon-diabetes-education"></i>
                <b>Ingreso vehicular</b>
            </td>
            <td>
                <span class="badge badge--outline badge--outline--verde">alta</span>
                <i class="icon icon--colorTerciario medical-icon-i-restrooms"></i>
                <button class="btn btn--rounded btn--colorSecundario">ir</button>
            </td>
        </tr>
        <tr>
            <td class="icon-container icon-container--horizontal" left>
                <i class="icon icon--24 medical-icon-diabetes-education"></i>
                <b>Ingreso peatonal</b>
            </td>
            <td>
                <span class="badge badge--outline badge--outline--verde">alta</span>
                <i class="icon icon--colorTerciario medical-icon-i-restrooms"></i>
                <button class="btn btn--rounded btn--colorSecundario">ir</button>
            </td>
        </tr>
    </tbody>
</table>