// Variables
$andes-azul-oscuro: #062837; 
$andes-azul: #2CA2DA; 
$andes-celeste: #66DFFF; 
$andes-purpura: #662482; 
$andes-magenta: #EA1E79;
$andes-verde: yellowgreen;
$andes-naranja: orange;

// Degrade
$andes-degrade: linear-gradient(to right, #009dc9,#853188, #f4a47e);

$zona-metropolitana: crimson;
$zona-uno: rgb(10, 90, 117);
$zona-dos: #286b0d;
$zona-tres: rgb(187, 21, 173);
$zona-cuatro: rgb(116, 15, 116);

// Espaciado
$padding: 15px;