:root {
    --fontFamily: 'Roboto', 'Source Sans Pro', sans-serif;
    --primary: #0055A6;
    --secondary: #009BDB;
    --tertiary: #EE6436;
    --fontSize: 1.75rem;
    --panelGap: 1rem;
}

html, body, main {
    font-family: var(--fontFamily)!important;
    overflow-x: hidden;
}


.sapMTitle, .sapMLabel {
    font-family: var(--fontFamily)!important;
}

.sidepanel__subtitle {
    font-family: var(--fontFamily)!important;
    font-size: 20px!important;
    font-weight: light!important;
}

.kpi__container {
    gap: var(--panelGap)!important;

    .kpi__count {
        font-size: var(--fontSize)!important;
        font-weight: 700;
    
        &--primary {
            color: var(--primary)!important;
        }
        
        &--secondary {
            color: var(--secondary)!important;
        }
        
        &--tertiary {
            color: var(--tertiary)!important;
        }
    }
}


@media screen and (max-width: 780px) {
    .kpi__count {
      --fontSize: 1.35rem;
      font-size: var(--fontSize)!important;
    }
  }