@charset "UTF-8";

@font-face {
  font-family: "andes";
  src:url("andes.eot");
  src:url("andes.eot?#iefix") format("embedded-opentype"),
    url("andes.woff") format("woff"),
    url("andes.ttf") format("truetype"),
    url("andes.svg#andes") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "andes" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "andes" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-abecedario:before {
  content: "\61";
}
.icon-adn:before {
  content: "\62";
}
.icon-alarma:before {
  content: "\63";
}
.icon-ambulancia:before {
  content: "\64";
}
.icon-anciana:before {
  content: "\65";
}
.icon-andes:before {
  content: "\66";
}
.icon-anestesia:before {
  content: "\67";
}
.icon-auto-policia:before {
  content: "\68";
}
.icon-bisturi:before {
  content: "\69";
}
.icon-bloques-reloj:before {
  content: "\6a";
}
.icon-calendario:before {
  content: "\6b";
}
.icon-calendario-fecha-outline:before {
  content: "\6e";
}
.icon-calendario-flecha-abajo:before {
  content: "\6f";
}
.icon-calendario-flechas-circulares:before {
  content: "\70";
}
.icon-calendario-mas:before {
  content: "\71";
}
.icon-calendario-rango-bold:before {
  content: "\72";
}
.icon-calendario-tilde:before {
  content: "\73";
}
.icon-calendarios:before {
  content: "\74";
}
.icon-cama:before {
  content: "\75";
}
.icon-cama-candado:before {
  content: "\76";
}
.icon-cama-destendida:before {
  content: "\77";
}
.icon-cama-engranaje:before {
  content: "\78";
}
.icon-cama-herramienta:before {
  content: "\79";
}
.icon-cama-paciente:before {
  content: "\7a";
}
.icon-cama-reloj:before {
  content: "\6c";
}
.icon-camara-foto:before {
  content: "\6d";
}
.icon-camilla:before {
  content: "\41";
}
.icon-camion-bomberos:before {
  content: "\42";
}
.icon-candado:before {
  content: "\43";
}
.icon-celular:before {
  content: "\44";
}
.icon-celular-llave:before {
  content: "\45";
}
.icon-celular-mano:before {
  content: "\46";
}
.icon-celular-paciente:before {
  content: "\47";
}
.icon-centro-salud:before {
  content: "\48";
}
.icon-circulo-botella:before {
  content: "\49";
}
.icon-circulo-camara:before {
  content: "\4a";
}
.icon-circulo-hospital:before {
  content: "\4b";
}
.icon-circulo-madre-hijo:before {
  content: "\4c";
}
.icon-circulo-medico:before {
  content: "\4d";
}
.icon-circulo-paciente:before {
  content: "\4e";
}
.icon-click:before {
  content: "\4f";
}
.icon-clinica:before {
  content: "\50";
}
.icon-corazon:before {
  content: "\51";
}
.icon-corazon-cruz:before {
  content: "\52";
}
.icon-corazon-outline:before {
  content: "\53";
}
.icon-credencial-paciente:before {
  content: "\54";
}
.icon-credencial-usuario:before {
  content: "\55";
}
.icon-cruz:before {
  content: "\56";
}
.icon-cruz-hospital:before {
  content: "\57";
}
.icon-cuentagota:before {
  content: "\58";
}
.icon-cuerpo:before {
  content: "\59";
}
.icon-cuna-candado:before {
  content: "\5a";
}
.icon-cuna-destendida:before {
  content: "\30";
}
.icon-cuna-herramienta:before {
  content: "\31";
}
.icon-cuna-paciente:before {
  content: "\32";
}
.icon-cuna-reloj:before {
  content: "\33";
}
.icon-defensa-civil:before {
  content: "\34";
}
.icon-desvinculo:before {
  content: "\35";
}
.icon-diario:before {
  content: "\36";
}
.icon-doctora:before {
  content: "\37";
}
.icon-docuemento-manzana:before {
  content: "\38";
}
.icon-documento:before {
  content: "\39";
}
.icon-documento-corazon:before {
  content: "\21";
}
.icon-documento-cruz:before {
  content: "\22";
}
.icon-documento-cruz-hospital:before {
  content: "\23";
}
.icon-documento-lapiz:before {
  content: "\24";
}
.icon-documento-lupa:before {
  content: "\25";
}
.icon-documento-mas:before {
  content: "\26";
}
.icon-documento-paciente:before {
  content: "\27";
}
.icon-documento-reloj:before {
  content: "\28";
}
.icon-documento-termometro:before {
  content: "\29";
}
.icon-documento-tilde:before {
  content: "\2a";
}
.icon-documento-tubo:before {
  content: "\2b";
}
.icon-documentos:before {
  content: "\2c";
}
.icon-enfermera-outline:before {
  content: "\2d";
}
.icon-enfermero:before {
  content: "\2e";
}
.icon-entrada:before {
  content: "\3b";
}
.icon-enviar:before {
  content: "\3c";
}
.icon-escritorio:before {
  content: "\3d";
}
.icon-estadistica:before {
  content: "\3f";
}
.icon-estetoscopio:before {
  content: "\40";
}
.icon-exclamacion:before {
  content: "\5e";
}
.icon-farmacia:before {
  content: "\60";
}
.icon-familia:before {
  content: "\2f";
}
.icon-enfermero-outline-125:before {
  content: "\3a";
}
.icon-enfermero-outline-134:before {
  content: "\3e";
}
.icon-estomago:before {
  content: "\5f";
}
.icon-femenino:before {
  content: "\5b";
}
.icon-ferula:before {
  content: "\7b";
}
.icon-flecha-abajo:before {
  content: "\7c";
}
.icon-flecha-arriba:before {
  content: "\7d";
}
.icon-flecha-derecha:before {
  content: "\7e";
}
.icon-flecha-izquierda:before {
  content: "\5c";
}
.icon-formula:before {
  content: "\e000";
}
.icon-frasco:before {
  content: "\e001";
}
.icon-frasco-pastillas:before {
  content: "\e002";
}
.icon-garganta:before {
  content: "\e003";
}
.icon-ginecologia:before {
  content: "\e004";
}
.icon-giro:before {
  content: "\e005";
}
.icon-herramienta:before {
  content: "\e006";
}
.icon-zoom-in:before {
  content: "\e007";
}
.icon-zoom-out:before {
  content: "\e008";
}
.icon-zoom:before {
  content: "\e009";
}
.icon-vinculo:before {
  content: "\e00a";
}
.icon-inhalador-52:before {
  content: "\e00b";
}
.icon-pildora:before {
  content: "\e00c";
}
.icon-recipiente:before {
  content: "\e00d";
}
.icon-silencio:before {
  content: "\e00f";
}
.icon-salida:before {
  content: "\e010";
}
.icon-reloj:before {
  content: "\e011";
}
.icon-paciente:before {
  content: "\e012";
}
.icon-pastillas:before {
  content: "\e013";
}
.icon-pastilla-79:before {
  content: "\e014";
}
.icon-planilla-tubo:before {
  content: "\e016";
}
.icon-planilla-pipeta:before {
  content: "\e017";
}
.icon-planilla-electro:before {
  content: "\e018";
}
.icon-pipeta:before {
  content: "\e019";
}
.icon-pico-izquierda:before {
  content: "\e01a";
}
.icon-pico-derecha:before {
  content: "\e01b";
}
.icon-pico-arriba:before {
  content: "\e01c";
}
.icon-pico-abajo:before {
  content: "\e01d";
}
.icon-mano-nio:before {
  content: "\e00e";
}
.icon-marcador:before {
  content: "\e015";
}
.icon-marcador-salud:before {
  content: "\e01e";
}
.icon-mas:before {
  content: "\e01f";
}
.icon-masculino:before {
  content: "\e020";
}
.icon-oxigeno:before {
  content: "\e021";
}
.icon-oreja:before {
  content: "\e022";
}
.icon-nube-subir:before {
  content: "\e023";
}
.icon-nube-bajar:before {
  content: "\e024";
}
.icon-nodos:before {
  content: "\e025";
}
.icon-molecula:before {
  content: "\e026";
}
.icon-microscopio:before {
  content: "\e027";
}
.icon-interaccion:before {
  content: "\e028";
}
.icon-lapiz-documento:before {
  content: "\e029";
}
.icon-lapiz:before {
  content: "\e02a";
}
.icon-paciente-hombre:before {
  content: "\e02c";
}
.icon-paciente-mujer:before {
  content: "\e02d";
}
.icon-medico:before {
  content: "\e02e";
}
.icon-tilde:before {
  content: "\e02f";
}
.icon-vacuna:before {
  content: "\e030";
}
.icon-puerta-salir:before {
  content: "\e031";
}
.icon-prohibido:before {
  content: "\e032";
}
.icon-pregunta:before {
  content: "\e033";
}
.icon-telefono:before {
  content: "\e034";
}
.icon-termometro-55:before {
  content: "\e035";
}
.icon-tablet:before {
  content: "\e036";
}
.icon-recuperar:before {
  content: "\e037";
}
.icon-paciente-rayos:before {
  content: "\e038";
}
.icon-paciente-sol:before {
  content: "\e039";
}
.icon-particulas:before {
  content: "\e03a";
}
.icon-turno-menos:before {
  content: "\e03b";
}
.icon-turno-mas:before {
  content: "\e03c";
}
.icon-usuarios:before {
  content: "\e03d";
}
.icon-usuario-tilde:before {
  content: "\e03e";
}
.icon-usuario-mas:before {
  content: "\e03f";
}
.icon-llamada-saliente:before {
  content: "\e040";
}
.icon-usuario-reloj-outline:before {
  content: "\e045";
}
.icon-usuario-tilde-outline:before {
  content: "\e046";
}
.icon-pulmones:before {
  content: "\e043";
}
.icon-logo-youtube:before {
  content: "\e044";
}
.icon-logo-facebook:before {
  content: "\e047";
}
.icon-logo-github:before {
  content: "\e048";
}
.icon-mail:before {
  content: "\e049";
}
.icon-paciente-casa:before {
  content: "\e04b";
}
.icon-mano-gota:before {
  content: "\e04c";
}
.icon-mano-herramienta:before {
  content: "\e04d";
}
.icon-logo-github-outline:before {
  content: "\e04e";
}
.icon-logo-facebook-outline:before {
  content: "\e04f";
}
.icon-logo-youtube-outline:before {
  content: "\e050";
}
.icon-logo-whatsapp:before {
  content: "\e051";
}
.icon-logo-twitter-outline:before {
  content: "\e052";
}
.icon-logo-twitter:before {
  content: "\e053";
}
.icon-plasma:before {
  content: "\e05c";
}
.icon-laboratorio:before {
  content: "\e02b";
}
.icon-pc:before {
  content: "\e058";
}
.icon-pie:before {
  content: "\e041";
}
.icon-traumatologia:before {
  content: "\e042";
}
.icon-turno-tilde:before {
  content: "\e04a";
}
.icon-infante:before {
  content: "\e055";
}
.icon-informacion:before {
  content: "\e056";
}
.icon-mano:before {
  content: "\e057";
}
.icon-mail-outline:before {
  content: "\e059";
}
.icon-paciente-completo:before {
  content: "\e05a";
}
.icon-hombre-corriendo:before {
  content: "\e05b";
}
.icon-hombre-caminando:before {
  content: "\e054";
}
.icon-turno-codigo:before {
  content: "\e05d";
}
.icon-intestino:before {
  content: "\e05e";
}
.icon-inhalador-80:before {
  content: "\e05f";
}
.icon-paciente-medico:before {
  content: "\e060";
}
.icon-interconsulta:before {
  content: "\e061";
}
.icon-hospital:before {
  content: "\e062";
}
.icon-historial:before {
  content: "\e063";
}
.icon-jerarquia:before {
  content: "\e064";
}
.icon-riones:before {
  content: "\e065";
}
.icon-microbios:before {
  content: "\e066";
}
.icon-resonancia:before {
  content: "\e067";
}
.icon-calendario-fecha-abajo:before {
  content: "\e069";
}
.icon-calendario-fecha-arriba:before {
  content: "\e06a";
}
.icon-impresora:before {
  content: "\e06b";
}
.icon-madre-hijo:before {
  content: "\e06c";
}
.icon-mano-corazon:before {
  content: "\e06e";
}
.icon-turno-bold:before {
  content: "\e071";
}
.icon-turno-tilde-bold:before {
  content: "\e072";
}
.icon-turno-mas-bold:before {
  content: "\e073";
}
.icon-rayos:before {
  content: "\e075";
}
.icon-informe-medico:before {
  content: "\e06d";
}
.icon-web:before {
  content: "\e068";
}
.icon-trastorno:before {
  content: "\e06f";
}
.icon-termometro:before {
  content: "\e070";
}
.icon-rayos-1:before {
  content: "\e074";
}
.icon-semantics:before {
  content: "\e076";
}
.icon-logo-ministerio:before {
  content: "\e077";
}
.icon-logo-hpn:before {
  content: "\e078";
}
.icon-logo-bpn:before {
  content: "\e079";
}
.icon-medica:before {
  content: "\e07a";
}
.icon-logo-tics:before {
  content: "\e07b";
}
.icon-logo-ministerio-salud:before {
  content: "\e07c";
}
.icon-esqueleto:before {
  content: "\e07d";
}
.icon-hallazgo:before {
  content: "\e07e";
}
.icon-etiqueta:before {
  content: "\5d";
}
.icon-universidad:before {
  content: "\e07f";
}
.icon-estudiante:before {
  content: "\e080";
}
.icon-engranaje-outline:before {
  content: "\e081";
}
.icon-camion-mezclador:before {
  content: "\e082";
}
.icon-documento-cursor:before {
  content: "\e083";
}
.icon-grafico-torta:before {
  content: "\e084";
}
.icon-logo-provincia:before {
  content: "\e085";
}
.icon-maletin-salud:before {
  content: "\e086";
}
.icon-monitor-estadistica:before {
  content: "\e087";
}
.icon-manos-dinero:before {
  content: "\e088";
}
.icon-paciente-flecha:before {
  content: "\e089";
}
