/*--------------------------------------------------------------
# HPN - Colores
--------------------------------------------------------------*/

$colorPrimario: #243163;
$colorSecundario: #00a1df;
$colorTerciario: #cb0053;

$azul-oscuro: #243163;
$cyan: #00a1df;
$rojo: #cb0053;
$negro:black;
$azul: #2c4794;
$celeste: #84cef0;
$celeste-claro: #d7f1fd;
$violeta: #662480;
$violeta-claro: #982f98;
$magenta: #e3007e;
$verde: #00b9b1;
$verde-claro: #63c7b7;
$gris: #7d7d7d;
$blanco: #ffffff;
$gradient: linear-gradient(0deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;