/* -------------------------------------
## LAYOUT 
-------------------------------------*/
.l-overlay--full {
    height: 100vh;
    //width: 100vw;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 2fr;
    box-sizing: border-box;
                
    .img--full {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        opacity: 0.15;
        }

    > section#bienvenida {
        scroll-behavior: smooth;
        position: relative;
        height: 100vh;
        overflow-y: scroll;
        mix-blend-mode: multiply;
        
        > section#primerScroll {
            grid-column: 1;
            grid-row: 1;
            //height: 100vh;
        }
    
        > section#segundoScroll {
            grid-column: 1/-1;
            grid-row: 2;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 2fr;
            height: 100vh;
            border-top: solid 1px gray;
            }
        }

    }
    
    aside#ingreso {
        grid-column: 2;
        grid-row: 1 / -1;
    }

.l-standar {
    --sidenavWidth: 75px;
    --topnavHeight: var(--navHeight);

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
    aside {
        position: absolute;
        right: 0;
        display: flex;
        background-color: $azul;
        height: 100%;
        width: var(--sidenavWidth);
        color: white;
    }
    
    main {
        grid-column: 1 / -1;
        height: 100vh;
        overflow-y: hidden;
        //background: url(./assets/img/isometrica.png) no-repeat center center;
        position: relative;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        
        > section {
            &.sidepanel {
                position: absolute;
                display: flex;
                flex-direction: column;
                margin-top: var(--topnavHeight);
                right: var(--sidenavWidth);
                max-width: 30vw;
                height: calc(100vh - 50px);
                overflow-y: scroll;
                z-index: 0;

                > img {
                    + header {
                        margin-top: 1rem;
                    }
                }
            }
        }

    }

    footer {
        grid-column: 1 / 11;
        width: 100%;
        position: absolute;
        top: calc(100vh - var(--topnavHeight));
        height: 40px;
        background-color: gray;
        mix-blend-mode: multiply;
    }
}


// Paneles emergentes
// sidebar
section#bienvenida + input[type="checkbox"],
section#bienvenida ~ aside#ingreso {
	display: none;
}

#btnIngreso:checked ~ aside#ingreso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: -9px -1px 7px -3px rgba(118,118,118,0.6);
    height: calc(100vh - 50px);
    animation: fadeIn 1s ease-in;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeIn {
      0% {opacity: 0;}
      100% {opacity: 1;}
  }
  
// sidenav
.item__label {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 100%;
    cursor: pointer;
}

main > input[type="radio"],
section#busqueda-resultado,
section#detalle-espacio
{
    display: none;
}

#menuItem02:checked ~ section#busqueda-resultado {
    display: flex;
}

#menuItem03:checked ~ section#detalle-espacio {
    display: flex;
}


/* EXPLOTADA */
// Primer piso
section#planta-baja {
    opacity: 1;
}

input#plantaBaja:checked ~ section#hpn-volumenes, 
input#plantaBaja:checked ~ section#hpn-desnivel,
input#plantaBaja:checked ~ section#primer-piso,
input#plantaBaja:checked ~ section#segundo-piso, 
input#plantaBaja:checked ~ section#tercer-piso,
input#plantaBaja:checked ~ section#cuarto-piso,
input#plantaBaja:checked ~ section#quinto-piso {
    opacity: 0.25;
    transition: all 1s ease;
    filter: grayscale(1);

    &:not(#hpn-desnivel) {
                $top: 2vh;
                @for $i from 9 through 18 {
                &:nth-child(#{$i}) { transform: translateY(-$top);}
                $top: $top + 5vh;
            }
        }
    }

// Segundo piso
section#primer-piso {
    opacity: 1;
}

input#primerPiso:checked ~ section#hpn-volumenes, 
input#primerPiso:checked ~ section#hpn-desnivel,
input#primerPiso:checked ~ section#planta-baja,
input#primerPiso:checked ~ section#segundo-piso, 
input#primerPiso:checked ~ section#tercer-piso,
input#primerPiso:checked ~ section#cuarto-piso,
input#primerPiso:checked ~ section#quinto-piso {
    opacity: 0.25;
    transition: all 1s ease;
    filter: grayscale(1);

    &:not(#hpn-desnivel, #planta-baja) {
                $top: 2vh;
                @for $i from 9 through 18 {
                &:nth-child(#{$i}) { transform: translateY(-$top);}
                $top: $top + 5vh;
            }
        }
    }

// Tercer piso
section#segundo-piso {
    opacity: 1;
}

input#segundoPiso:checked ~ section#hpn-volumenes, 
input#segundoPiso:checked ~ section#hpn-desnivel,
input#segundoPiso:checked ~ section#planta-baja,
input#segundoPiso:checked ~ section#primer-piso,
input#segundoPiso:checked ~ section#tercer-piso,
input#segundoPiso:checked ~ section#cuarto-piso,
input#segundoPiso:checked ~ section#quinto-piso {
    opacity: 0.25;
    transition: all 1s ease;
    filter: grayscale(1);

    &:not(#hpn-desnivel, #planta-baja, #primer-piso) {
                $top: 2vh;
                @for $i from 9 through 18 {
                &:nth-child(#{$i}) { transform: translateY(-$top);}
                $top: $top + 5vh;
            }
        }
    }

// Tercer piso
section#tercer-piso {
    opacity: 1;
}

input#tercerPiso:checked ~ section#hpn-volumenes, 
input#tercerPiso:checked ~ section#hpn-desnivel,
input#tercerPiso:checked ~ section#planta-baja,
input#tercerPiso:checked ~ section#primer-piso,
input#tercerPiso:checked ~ section#segundo-piso,
input#tercerPiso:checked ~ section#cuarto-piso,
input#tercerPiso:checked ~ section#quinto-piso {
    opacity: 0.25;
    transition: all 1s ease;
    filter: grayscale(1);

    &:not(#hpn-desnivel, #planta-baja, #primer-piso, #segundo-piso) {
                $top: 2vh;
                @for $i from 9 through 18 {
                &:nth-child(#{$i}) { transform: translateY(-$top);}
                $top: $top + 5vh;
            }
        }
    }

// Cuarto piso
section#cuarto-piso {
    opacity: 1;
}

input#cuartoPiso:checked ~ section#hpn-volumenes, 
input#cuartoPiso:checked ~ section#hpn-desnivel,
input#cuartoPiso:checked ~ section#planta-baja,
input#cuartoPiso:checked ~ section#primer-piso,
input#cuartoPiso:checked ~ section#segundo-piso,
input#cuartoPiso:checked ~ section#tercer-piso,
input#cuartoPiso:checked ~ section#quinto-piso {
    opacity: 0.25;
    transition: all 1s ease;
    filter: grayscale(1);

    &:not(#hpn-desnivel, #planta-baja, #primer-piso, #segundo-piso, #tercer-piso) {
                $top: 2vh;
                @for $i from 9 through 18 {
                &:nth-child(#{$i}) { transform: translateY(-$top);}
                $top: $top + 5vh;
            }
        }
    }

// Quinto piso
section#quinto-piso {
    opacity: 1;
}

input#quintoPiso:checked ~ section#hpn-volumenes, 
input#quintoPiso:checked ~ section#hpn-desnivel,
input#quintoPiso:checked ~ section#planta-baja,
input#quintoPiso:checked ~ section#primer-piso,
input#quintoPiso:checked ~ section#segundo-piso,
input#quintoPiso:checked ~ section#tercer-piso,
input#quintoPiso:checked ~ section#cuarto-piso {
    opacity: 0.25;
    transition: all 1s ease;
    filter: grayscale(1);

    &:not(#hpn-desnivel, #planta-baja, #primer-piso, #segundo-piso, #tercer-piso, #cuarto-piso) {
                $top: 2vh;
                @for $i from 9 through 18 {
                &:nth-child(#{$i}) { transform: translateY(-$top);}
                $top: $top + 5vh;
            }
        }
    }


// Zooming
input#zoomPlano {
    z-index: 1;
    position: inherit;
}

section#plano {
    position: absolute;
    transform: scale(1);
    transition: transform 1s ease-in;
}
input#zoomPlano:checked ~ section#plano {

    transform: scale(2.5) translateX(-10vw) translateY(-5vw);
    transition: transform 1s ease-in;
}